header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 100px;
}

.logo img {
  width: 100px;
  height: auto;
  padding: 10px;
}

.icons img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}


@media (min-width: 400px) and (max-width:767px){
  header {
    align-items: flex-start;
    padding: 10px 20px;
  }

  .logo img {
    width: 80px;
  }

  .icons {
    margin-top: 10px;
  }
}